# Flutter/Dart specific
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.packages
build/
pubspec.lock

# Android related
android/.gradle/
android/key.properties
android/app/debug.keystore

# iOS related
ios/Pods/
ios/.symlinks/
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/Flutter/App.framework
ios/.generated/
ios/Runner.xcworkspace/

# Web related
web/.dart_tool/

# VS Code
.vscode/

# IntelliJ/Android Studio
.idea/
*.iml

# Miscellaneous
*.log
*.tmp
*.swp
*.swo

# Firebase & Google Services
android/app/google-services.json
ios/Runner/GoogleService-Info.plist

# Environment files
.env
.env*
